@media only screen and (max-width:480px) {

    html,
    body {
        font-size: 16px;
    }

    .container {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto auto;
        position: absolute;
        overflow: hidden;

    }

    .player-0-panel,
    .player-1-panel {
        background-color: #f0f0f0;
        width: 100%;
        height: 50%;
        white-space: nowrap;
        display: block;
    }

    .player-name {
        font-weight: 300;
        font-size: 130%;
        letter-spacing: 1px;
        position: relative;
        left: 4%;
    }

    .player-score {
        font-size: 160%;
        font-weight: 200;
        letter-spacing: 1px;
        position: relative;
        top: 2%;
    }

    .player-current-label {
        font-size: 120%;
        letter-spacing: 2px;

    }

    .player-current-score {
        font-size: 130%;
        letter-spacing: 2px;
        vertical-align: middle;
        position: relative;
        top: 2%;
        left: -4%;
    }

    .current-player-box {
        position: relative;
        top: 2%;
        left: 20%;
        width: 200px;
        height: auto;
        vertical-align: middle;
    }

    .btn-new {
        top: 2%;
        right: 40%;
    }

    .btn-roll {
        top: 45%;
        right: 73%;
    }

    .btn-hold {
        top: 45%;
        right: 5%;
    }

    .dice {
        position: absolute;
        top: 43%;
        left: 42%;
    }


}
