* {
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: #bebebe;
    /* background-image: url(../img/238137.jpg);*/
    background: linear-gradient(124deg, #FC3F81, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #FC3F81);
    background-size: 1800% 1800%;
    animation: rainbow 36s ease infinite;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    white-space: nowrap;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.row {
    width: 1140px;
    margin: 0 auto;
}


.container {
    width: 1140px;
    height: 80%;
    display: flex;
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.player-0-panel,
.player-1-panel {
    background-color: #f0f0f0;
    width: 50%;
    height: 100%;
    white-space: nowrap;
    float: left;
}

.active {
    background-color: #fcfcfc;
    transition: background-color 0.5s;
}

button {
    border: none;
    outline: none;
    position: absolute;
    color: #FC3F81;
    background-color: transparent;
    text-align: center;
    display: block;
    font-size: 120%;
    vertical-align: middle;
    padding: 2px;

}

button .swing {
    transform: rotate(-90deg);
    transition: transform 0.5s;
}

button:hover .swing {
    transform: rotate(90deg);
    transition: transform 0.5s;
    color: #FC3F81;
}



.btn-new {
    top: 15%;
    right: 45%;
}

.btn-roll {
    top: 65%;
    right: 46%;
}

.btn-hold {
    top: 75%;
    right: 47%;
}

.btn-hold:hover .turnout {
    transform: rotate(0deg);
    transition: transform 0.5s;
    color: #FC3F81;
}

.ion-icons {
    font-size: 180%;
    color: #383838;
    vertical-align: middle;
    padding: 2px;
}


/** Player **/

.player-name {
    font-weight: 400;
    font-size: 300%;
    margin-top: 20%;
    margin-left: 33%;
    letter-spacing: 2px;
}

.active-player-name {
    text-decoration: underline #00e676;
}

.winner-player-name {
    text-decoration-color: #FC3F81;
    color: #FC3F81;
    transition: text-decoration-color 1s, color 1s;
}

.player-score {
    font-size: 350%;
    font-weight: 200;
    margin-top: 4%;
    margin-left: 45%;
    letter-spacing: 2px;
}

.current-player-box {
    position: relative;
    top: 20%;
    left: 26%;
    width: 200px;
    height: auto;
    vertical-align: middle;
}


.player-current-label {
    font-size: 150%;
    font-weight: 200;
    margin-top: 30%;
    margin-left: 41%;
    letter-spacing: 4px;

}

.player-current-score {
    font-size: 160%;
    font-weight: 300;
    margin-top: 5%;
    margin-left: 65%;
    letter-spacing: 4px;
    vertical-align: middle;
}

.dice {
    position: absolute;
    top: 35%;
    left: 48%;
}
